version: '3.3'

services:
  # Servicio InfluxDB
  influxdb:
    image: influxdb:1.8
    container_name: rp-influxdb_rp
    ports:
      - "8087:8086"
    environment:
      - INFLUXDB_DB=metrics
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin123
      - INFLUXDB_USER=raspi_user
      - INFLUXDB_USER_PASSWORD=raspi_password
    volumes:
      - influxdb_data:/var/lib/influxdb
    networks:
      - app_network
    restart: unless-stopped

  # Servicio Flask App
  flask-app:
    build: .
    container_name: rp-flask-app
    ports:
      - "5000:5000"
    # environment:
    #   - FLASK_ENV=production
    #   - FLASK_DEBUG=false
    env_file:
      - .env
    depends_on:
      - influxdb
    networks:
      app_network:
        aliases:
          - flask-app
          - flask
          - app
    restart: unless-stopped
    volumes:
      # Montar solo los archivos necesarios para desarrollo
      - ./app.py:/app/app.py
      - ./templates:/app/templates
      - ./services:/app/services

  # Servicio Nginx (Proxy Reverso)
  nginx:
    image: nginx:alpine
    container_name: rp-nginx
    ports:
      - "87:80"
    volumes:
      - ./nginx_default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - flask-app
    networks:
      - app_network
    restart: unless-stopped

volumes:
  influxdb_data:

networks:
  app_network:
    driver: bridge